# Mac
.DS_Store
**/.DS_Store

# vim/vi
*.swp

# JavaScript
node_modules/
.node_modules/
.eslintcache
unpackage/dist/build/
unpackage/dist/dev/
!unpackage/res/

#忽略.hbuilderx目录
.hbuilderx

# python
*.pyc
